
.l {
    &-mv {
        background: #EDF7FD;
        &-inn {
            &-content{
                background:#EDF7FD;
                .news{
                    background: #fff;
                    width: 100%;
                    max-width: 544px;
                    border-radius: 10px;
                    position: relative;
                    top: -30px;
                    right: -61%;
                    height: 267px;
                    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.06);
                    z-index: 1;
                    &-inn{
                        &-ttl{
                            h2{
                                font-size: 100px;
                                font-weight: 500;
                                font-family: "Ostrich Sans",sans-serif;
                                position: absolute;
                                top: -18%;
                                left: 22px;
                            }
                        }
                        &-content{
                            position: absolute;
                            bottom: 20%;
                            left: 10%;
                            ul{
                                li{
                                    padding: 0 0 28px 0;
                                    font-size: 14px;
                                    font-family: 'Noto Sans CJK JP',sans-serif;
                                    font-weight: 500;
                                    line-height: 1.8;
                                    &:last-child{
                                        padding: 0;
                                    }
                                    // &::after{
                                    //     content: "";
                                    //     position: absolute;
                                    //     top: 0;
                                    //     bottom: 0;
                                    //     margin: auto;
                                    //     width: 6px;
                                    //     height: 6px;
                                    //     border-top: 2px solid #013C87;
                                    //     border-right: 2px solid #013C87;
                                    //     -webkit-transform: rotate(45deg);
                                    //     transform: rotate(45deg);
                                    //     z-index: 1;
                                    // }
                                    a{
                                        margin-left: 30px;
                                        letter-spacing: 0.05em;
                                        border-bottom: 1px solid #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-about{
        background: #EDF7FD;
        position: relative;
        height: 200px;
        &-inn{
            position: absolute;
            top: -200px;
            left: 260px;
            width: 100%;
            margin: 0 auto;
            max-width: 450px;
            &-ttl{
                h2{
                    font-size: 100px;
                    font-family: "Ostrich Sans",sans-serif;
                    line-height: 1.5;
                    span{
                        font-size: 32px;
                        font-family: 'Noto Sans CJK JP', sans-serif;
                        line-height: 1.4;
                        display: block;
                    }
                }
            }
            &-content{
                padding-top: 24px;
                p{
                    font-size: 16px;
                    font-family: 'Noto Sans CJK JP', sans-serif;
                    font-weight: 500;
                    line-height: 2;
                }
            }
        }
    }
}
